.App {
  text-align: center;
}

nav {
  display: flex;
  background-color: rgb(22, 39, 49);
  min-height: 20vh;
  align-items: center;
  justify-content: space-around;
  color: aliceblue;
}

.nav-links {
  width: 25%;
  justify-content: space-around;
  display: flex;
  list-style: none;
  align-items: center;
  float: right;
}
a:link {
  text-decoration: none;
}
li {
  color: lightgoldenrodyellow
}